<h1>L1 (Lasso) und L2 (Ridge) Regulation von Modellen</h1>

L1 und L2 Regulierungen können Modellen helfen, die unter Overfitting leiden. 

Mit einer Regulierung kann der Score beim Testen und später beim Einsatz mit echten Daten verbessert werden.

<i>Abb1</i>: Überblick der drei verschiedenen Fittings. 

<img src="files_data/img/ml_fitting_1.PNG" width=700 hight=500>

Die Abbilding 1 zeigt links ein Model das unter Overfitting leidet, was zu einer hohen Varianz führt.

Die Varianz bezeichnet den deutlich sichtbaren Unterschied in dem Score, wenn aus demselben Dataset andere Datenpunkte für das Testen genommen werden.

Wenn wir ein Model haben, das unter Overfitting leidet, können durch den Einsatz von L2 die Werter der Koeffizienten des Models gesenkt/klein gehalten werden, was auch als Penalty bezeichnet wird. 

Lambda ist ein feier Parameter. <br>
L2 Quadriert jeden Wert eines Parameters und addiert diesen zu der Originalen Lossfunktion (z. B. MSE bei linearer Regression). <br>
Das Resultat ist, das die Koeffizienten (werden niemals 0) der Parameter (z. B. 3x³) reduziert werden, um den Fehler besser zu verteilen, was das Overfitting reduziert.
- Verändert den Einfluss von Features, anwendbar wenn alle Features eines Datasets genutzt werden und es zu Overfitting kommt.

<i>Abb2</i>: L2  [Loss | MES]

<img>

Die L1 Regulierung macht fast dasselbe, nur dass die Koeffizienten als Betrag summiert werden.
- L1 wird oft als Lasso bezeichnet => Least Absolute Shrinkage and Selection Operator.

Der Effekt, der hier entsteht, ist, dass L1 einige Koeffizienten in die Richtung der 0 treibt, was dazu führt, dass eher die Features herausstechen, die am "wichtigsten" sind. So können aus vielen Features diejenigen identifiziert werden, die den meisten Einfluss haben.

Die Kombination von L1 und L2 wird als Elastic Next bezeichnet, und kann für eine Balance der zwei verschiedenen Eigenschaften sogen.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Housing_Price_Dataset.zip

In [2]:
data_df = pd.read_csv('./files_data/data/Housing_Price_Dataset.zip', compression='zip')
data_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7229300521,20141013T000000,231300.0,2,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
data_df = data_df[['price', 'bedrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_basement', 'sqft_above']]
data_df.head()

,price,bedrooms,sqft_living,sqft_lot,floors,sqft_basement,sqft_above
0,231300.0,2,1180,5650,1.0,0,1180
1,538000.0,3,2570,7242,2.0,400,2170
2,180000.0,2,770,10000,1.0,0,770
3,604000.0,4,1960,5000,1.0,910,1050
4,510000.0,3,1680,8080,1.0,0,1680

In [ ]:
# // Lineare Regression example